
.vs/MSBuildProject/v16/.suo
MSBuildDemoProject/bin/Debug/MSBuildDemoProject.exe
MSBuildDemoProject/bin/Debug/MSBuildDemoProject.exe.config
MSBuildDemoProject/bin/Debug/MSBuildDemoProject.pdb
MSBuildDemoProject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
MSBuildDemoProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MSBuildDemoProject/obj/Debug/MSBuildDemoProject.csproj.AssemblyReference.cache
MSBuildDemoProject/obj/Debug/MSBuildDemoProject.csproj.CoreCompileInputs.cache
MSBuildDemoProject/obj/Debug/MSBuildDemoProject.csproj.FileListAbsolute.txt
MSBuildDemoProject/obj/Debug/MSBuildDemoProject.exe
MSBuildDemoProject/obj/Debug/MSBuildDemoProject.pdb
